footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  font-size: 100%;
  color: #DEDEDE;
  background: #292929 url(dark-cardboard.png) repeat 0 0 fixed;
  font-weight: 400; }

body {
  font-family: 'Muli', sans-serif; }

.main {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  min-width: 280px;
  max-width: 640px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 12px solid #0A0A0A; }

header {
  margin-bottom: 72px; }

.reveal {
  text-align: center;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  color: #F97166; }

h1 {
  font-weight: bold;
  font-size: 4em;
  letter-spacing: .01em;
  line-height: 1.5;
  display: block;
  width: 268px;
  height: 268px;
  margin: 36px auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.info {
  display: block;
  text-transform: uppercase;
  letter-spacing: .25em; }

.info span {
  padding-top: 24px;
  text-align: center;
  display: block;
  font-weight: 800; }

.name {
  font-size: 32px;
  margin-bottom: 24px; }

.nutgraf {
  padding-top: 24px;
  font-size: 16px;
  letter-spacing: .15em; }

.social {
  text-align: center; }

h2 {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .25em;
  text-align: center; }

section {
  text-align: left;
  margin-bottom: 48px; }

p {
  margin-bottom: 1.5em; }

a, a:link, a:visited {
  color: #F97166;
  text-decoration: none;
  -moz-transition: 0.2s color ease;
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease; }

a:hover, a:active, a:focus {
  color: #e53a24;
  text-decoration: none; }

footer a, footer a:link, footer a:visited {
  color: #f4ede7;
  text-decoration: none; }

footer a:hover, footer a:active, footer a:focus {
  color: #f4ede7;
  text-decoration: none; }